<div class="container">
<div class="titulo">
<p>POKEDEX</p>
</div>

    <div class="row">
       

        <div class="col-4" *ngFor="let pokemon of pokemons" >
                <div class="box"> 
                        <img src="{{pokemon.art_url}}" class="image">
                        <h2>{{pokemon.name}}</h2>
                        <div class="overlay">
                          <div class="text">#Pokedex: {{pokemon.pkdx_id}}</div>
                        </div>
                      </div>
                      
        </div>
    
      
      </div>


</div>

