<div class="container box">
  <div class="box-image">
      <img src="../../../assets/img/Pikachu_(anime_XY).png" alt="Avatar" class="image">
  </div>
  <div class="box-description">
    <h1>Pikachu</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue sit amet sem sit amet ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed interdum viverra mauris, nec egestas dui vulputate sed. </p>
    <p>tipo: electrico</p>
  </div>

<div class="evolutions">
<h2>Evoluciones</h2>
        <div class="row justify-content-center">
            <div class="col-4 align-self-center ">
                <div class="card" style="width: 18rem;">
                  <div class="card-image">
                    <img class="card-img-top" src="../../../assets/img/Pikachu_(anime_XY).png" alt="Card image cap">
                  </div>  <div class="card-body">
                      <h5 class="card-title nombre">Card title</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item nivel">nivel de evolucion: 4</li>
                      <li class="list-group-item metodo">Metodo de Evolucion: levelup</li>
                    </ul>
                   </div>
            </div>
            
          

</div>
</div>